/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/main.scss */
#turnOff,
#turnOn {
  position: fixed;
  z-index: 999;
  cursor: pointer;
  top: 20px;
}

/* line 16, ../sass/main.scss */
#turnOff {
  left: 20px;
}

/* line 20, ../sass/main.scss */
#turnOn {
  left: 240px;
}

/* line 29, ../sass/main.scss */
section {
  height: 100%;
  background-color: #f2f2f2;
}

/* line 34, ../sass/main.scss */
.head {
  text-align: center;
  background: #e9e6e8;
  padding-top: 20px;
}
/* line 38, ../sass/main.scss */
.head p {
  color: #b7b7b7;
  font-family: "ProximaNovaReg";
  font-size: 12px;
}

/* line 45, ../sass/main.scss */
.main {
  background: url("../img/Pics/Monitors/m1.png") no-repeat 20% 80%, url("../img/bgs/bg1.jpg") no-repeat center center;
  text-align: center;
  display: flex;
  align-items: center;
  padding-top: 120px;
  font-family: "ProximaNovaReg";
  font-size: 18px;
  font-weight: bold;
}
/* line 51, ../sass/main.scss */
.main P {
  margin-bottom: 40px;
  padding: 8px 22px 7px 22px;
  color: white;
  background-color: black;
  font-family: "ProximaNovaReg";
  font-size: 10px;
  display: inline-block;
}

/* line 65, ../sass/main.scss */
h1 {
  color: black;
  font-family: "UbuntuLight";
  font-size: 50px;
  letter-spacing: 0.08em;
  line-height: 59px;
}

/* line 73, ../sass/main.scss */
h2 {
  font-family: "ProximaNovaLight";
  font-size: 24px;
}

/* line 78, ../sass/main.scss */
span {
  font-family: "ProximaNovaBold";
}

/* line 83, ../sass/main.scss */
strong {
  font-family: 'ProximaNovaBold';
}

/* line 87, ../sass/main.scss */
.mon {
  margin-top: 20px;
}

/* line 91, ../sass/main.scss */
.monitor {
  position: absolute;
  left: 200px;
  z-index: 1;
}

/* line 97, ../sass/main.scss */
.panel {
  display: inline-block;
  margin-top: 40px;
}

/* line 102, ../sass/main.scss */
.transparent-cell {
  display: inline-block;
  border: 2px solid black;
  color: black;
  height: 50px;
  vertical-align: middle;
}

/* line 110, ../sass/main.scss */
.black-cell {
  display: inline-block;
  background: black;
  color: white;
  height: 50px;
  vertical-align: middle;
  padding: 14px 40px 16px 40px;
}

/* line 119, ../sass/main.scss */
.left {
  font-family: "ProximaNovaLight";
  font-size: 18px;
  padding: 14px 28px 16px 28px;
}

/* line 125, ../sass/main.scss */
.right {
  font-family: "ProximaNovaLight";
  font-size: 15px;
  padding: 17px 28px 16px 28px;
  margin-right: 15px;
  margin-left: -6px;
}

/* line 133, ../sass/main.scss */
.december {
  padding: 20px 28px 16px 28px;
  margin-left: 10px;
}

/* line 138, ../sass/main.scss */
button {
  background-color: #e32738;
  height: 50px;
  color: white;
  outline: none;
  border: none;
  font-family: "ProximaNovaReg";
  font-size: 14px;
  padding: 9px 28px 7px;
  display: inline-block;
  vertical-align: middle;
}

/* line 151, ../sass/main.scss */
.mouse {
  margin-top: 228px;
}

/* line 155, ../sass/main.scss */
.specification {
  padding-top: 60px;
  text-align: left;
  display: flex;
  align-items: left;
}
/* line 160, ../sass/main.scss */
.specification p {
  font-family: "ProximaNovaReg";
  font-size: 12px;
}

/* line 166, ../sass/main.scss */
.arrow {
  float: left;
  margin-right: 10px;
}

/* line 171, ../sass/main.scss */
.specification {
  background: url("../img/bgs/bg2.jpg") no-repeat center center;
}

/* line 175, ../sass/main.scss */
.mhl {
  background: url("../img/Pics/Monitors/m2_1.png") no-repeat center right;
}

/* line 179, ../sass/main.scss */
.ofer {
  padding-top: 128px;
}

/* line 183, ../sass/main.scss */
.features {
  padding-top: 80px;
}

/* line 187, ../sass/main.scss */
.description {
  margin-top: 40px;
  margin-bottom: 58px;
  font-family: "ProximaNovaLight";
  font-size: 16px;
  vertical-align: 0.2;
  line-height: 24px;
}
