/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
#turnOff,
#turnOn {
    position: fixed;
    z-index: 999;
    // font-size: 2em;
    cursor: pointer;
    top: 20px;
}

#turnOff {
    left: 20px;
}

#turnOn {
    left: 240px;
}

//----------------------------
$up: #e9e6e8;
$down: #f2f2f2;
//----------------------
.head {
    background: $up;
    p {
        color: #b7b7b7;
        /* text color */
        font-family: "ProximaNova";
        font-size: 12px;
    }
}