/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
#turnOff,
#turnOn {
    position: fixed;
    z-index: 999;
    // font-size: 2em;
    cursor: pointer;
    top: 20px;
}

#turnOff {
    left: 20px;
}

#turnOn {
    left: 240px;
}

//----------------------------
$up: #e9e6e8;
$down: #f2f2f2;
$blush: #e32738;
//----------------------
section {
    height: 100%;
    background-color: $down;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center
}

p {
    font-family: "ProximaNovaLight";
    font-size: 16px;
    color: black
}

slide {
    height: 100%;
    background-color: $down;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.head {
    text-align: center;
    background: $up;
    padding-top: 20px;
    p {
        color: #b7b7b7;
        font-family: "ProximaNovaReg";
        font-size: 12px;
    }
}

.main {
    background: url('../img/Pics/Monitors/m1.png') no-repeat 20% 80%, url('../img/bgs/bg1.jpg') no-repeat center center;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 120px;
    P {
        margin-bottom: 40px;
        padding: 8px 22px 7px 22px;
        color: white;
        background-color: black;
        font-family: "ProximaNovaReg";
        font-size: 10px;
        display: inline-block;
    }
    font-family: "ProximaNovaReg";
    font-size: 18px;
    font-weight: bold;
}

h1 {
    color: black;
    font-family: "UbuntuLight";
    font-size: 50px;
    letter-spacing: 0.08em;
    line-height: 59px;
}

h2 {
    font-family: "ProximaNovaLight";
    font-size: 24px;
}

span {
    font-family: "ProximaNovaReg";
    font-size: 30px;
    vertical-align: 0.2;
    line-height: 34px;
}

strong {
    font-family: 'ProximaNovaBold';
}

.mon {
    margin-top: 20px;
}

.monitor {
    position: absolute;
    left: 200px;
    z-index: 1;
}

.panel {
    display: inline-block;
    margin-top: 40px;
}

.transparent-cell {
    display: inline-block;
    border: 2px solid black;
    color: black;
    height: 50px;
    vertical-align: middle;
}

.black-cell {
    display: inline-block;
    background: black;
    color: white;
    height: 50px;
    vertical-align: middle;
    padding: 14px 40px 16px 40px;
}

.left {
    font-family: "ProximaNovaLight";
    font-size: 18px;
    padding: 14px 28px 16px 28px;
}

.right {
    font-family: "ProximaNovaLight";
    font-size: 15px;
    padding: 17px 28px 16px 28px;
    margin-right: 15px;
    margin-left: -6px;
}

.december {
    padding: 20px 28px 16px 28px;
    margin-left: 10px;
    p {
        font-family: "ProximaNovaReg";
        font-size: 12px;
    }
}

button {
    background: linear-gradient(to top, $blush, #ff5c6a); //background-color: $blush;
    height: 50px;
    color: white;
    outline: none;
    border: none;
    font-family: "ProximaNovaReg";
    font-size: 14px;
    padding: 9px 28px 7px;
    display: inline-block;
    vertical-align: middle
}

.mouse {
    margin-top: 228px;
}

.specification {
    text-align: left;
    display: flex;
    align-items: center;
    height: 100%;
    background: url('../img/bgs/bg2.jpg') no-repeat center center;
}

.arrow {
    float: left;
    margin-right: 10px;
}

.mhl {
    background: url('../img/Pics/Monitors/m2_1.png') no-repeat center right;
}

.features {
    padding-top: 80px;
}

.description {
    margin-top: 40px;
    margin-bottom: 58px;
    vertical-align: 0.2;
    line-height: 24px;
}

.caracters {
    p {
        font-family: "ProximaNovaReg";
        font-size: 12px;
    }
}

.center {
    display: flex;
    align-items: center;
    height: 100%;
}

table {
    font-family: "ProximaNovaReg";
    font-size: 16px;
    width: 100%;
}

tr {
    border-bottom: 4px solid $up;
    height: 38px;
    background-color: #eeeeee;
}

tr:hover td {
    background-color: black;
    color: white;
}

td {
    padding-left: 40px
}

.bgup {
    background-color: $up;
    height: 100%;
}

.bggradient {
    background: linear-gradient(to bottom, $up 50%, $down 50%);
    height: 100%;
}

.ofer {
    text-align: center;
}

.pos {
    float: right;
    margin-top: 56px;
}

.subHeader {
    position: fixed;
    top: 60px;
    p {
        font-family: "ProximaNovaReg";
        font-size: 12px;
    }
}

h3 {
    color: $blush;
    font-family: "ProximaNovaReg";
    font-size: 20px;
    margin: 20px 0px;
}

.contacts {
    text-align: center;
    h2 {
        font-family: "ProximaNovaReg";
        font-size: 24px;
    }
    h2 {
        font-family: "ProximaNovaReg";
        font-size: 24px;
    }
    p {
        font-family: "ProximaNovaLight";
        font-size: 18px;
    }
    button {
        border-radius: 50px;
    }
    .schedule {
        margin: 30px 0px 66px;
        font-family: "ProximaNovaReg";
        p {
            font-size: 14px;
            color: white;
        }
        .smallBlack-cell {
            padding: 19px 40px 16px 40px;
        }
    }
}

.form {
    padding-top: 34px;
    margin-bottom: 56px;
}

input {
    border: 2px solid $blush;
    height: 50px;
    background: $up;
    border-radius: 50px;
    padding-left: 32px;
    margin-right: 10px;
}


/* SERGE */

.slide-hand {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 2;
    opacity: 0;
    transform: translateX(100%);
    opacity: 0;
    transition: transform .4s ease-out
}

.slide-hand.hand-animated {
    transform: translateX(0);
    opacity: 1
}

.section-venki {
    display: flex;
    align-items: center;
    height: 100%;
}

.venki__action {
    margin-top: 70px;
    text-align: center;
}

.specification__inner,
.main__inner,
.section-venki__inner {
    flex: 1 1 auto;
}

.main {
    height: 100%;
    padding-top: 0;
    background: url("../img/bgs/bg1.jpg") no-repeat center center;
}

.head {
    position: absolute;
    left: 0;
    right: 0;
}

.site-logo {
    position: absolute;
}

.site-slogan {
    padding-top: 18px;
}

.subHeader {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
}

.bgup {
    position: relative;
}

.mouse {
    margin-top: 0;
    position: absolute;
    bottom: 32px;
    left: 50%;
    margin-left: -10px;
    text-align: center;
}

.mouse div+div {
    margin-top: 4px;
}

@media only screen and (min-width: 1400px) {
    .container {
        width: 1340px
    }
}

.specification {
    background-image: none;
    overflow: hidden;
}

.specification.specification-1 {
    background-image: url(../img/bgs/bg3.jpg);
}

.specification.specification-2 {
    background-image: url(../img/bgs/bg4.jpg);
}

.specification.specification-3 {
    background-image: url(../img/bgs/bg5.jpg);
}

.slide-candy {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 2;
    font-size: 0;
    margin-left: 60px;
    transform: translateY(100%);
    opacity: 0;
    transition: transform .4s ease-out
}

.slide-candy.candy-animated {
    opacity: 1;
    transform: translateY(0);
}

.section-venki .ofer {
    max-width: 260px;
    margin: 0 auto
}

.site-logo {
    float: left;
}

.table-action {
    margin-top: 70px;
    text-align: end;
}

// Bonny
.map-responsive {
    overflow: hidden;
    position: relative;
    height: calc(100% - 250px);
}

// .map-responsive iframe {
//     left: 0;
//     top: 0;
//     // height: 100%;
//     width: 100%;
//     height: calc(100% - 250px);
//     position: absolute;
// }
.inline {
    display: inline-block;
}

.address {
    margin-bottom: 26px;
}

input {
    font-family: "ProximaNovaReg";
    font-size: 14px;
}

input[type=submit] {
    margin-top: 30px;
}

input.name {
    width: 230px;
    font-size: 14px;
}

input.phone {
    width: 314px;
    font-size: 14px;
}

::-webkit-input-placeholder {
    color: $blush;
}

::-moz-placeholder {
    color: $blush;
}

.footer {
    height: 250px;
    background-color: #1b1b1b;
    padding-top: 66px;
    color: white;
    p {
        color: white;
        font-family: "ProximaNovaLight";
        font-size: 16px;
        vertical-align: 0.2;
        line-height: 20px;
        margin-bottom: 5px;
    }
}

.phones {
    margin-top: 20px;
}

.timing {
    margin-top: 9px;
}

.monline {
    margin-top: 40px;
}

.hamburger-menu {
    height: 40px;
    margin-top: 56px;
    cursor: pointer;
    position: relative;
    left: 100%;
    div {
        background-color: black;
        width: 40px;
        height: 4px;
        margin-bottom: 5px;
        transition: all 0.2s ease-out;
    }
    &.open {
        .one {
            transform: translateY(9px) rotate(45deg);
        }
        .two {
            opacity: 0;
        }
        .three {
            transform: translateY(-9px) rotate(-45deg);
        }
    }
    &.mod {
        div {
            background-color: $blush;
        }
    }
}

.hamburger-menu:hover {
    div {
        background-color: $blush;
    }
}

.hamburger-menu.mod {
    margin-top: 50px;
}

.hamburger-menu.mod:hover {
    div {
        background-color: white;
    }
}

label {
    cursor: pointer;
    user-select: none;
}

.modal {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    //   background-color: white;
    opacity: 0;
    transition: opacity .3s;
}

.modal__check {
    display: none;
}

.modal__info {
    text-align: center;
    color: white;
    font-family: "ProximaNovaReg";
    vertical-align: 0.6;
    line-height: 18px;
    font-size: 14px;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    ul {
        flex: 1 1 auto;
    }
    li {
        margin: 18px;
        cursor: pointer;
    }
    li:hover {
        color: $blush;
        cursor: pointer;
    }
    p {
        color: white;
    }
}

.modal__close {
    font-family: serif;
    position: absolute;
    z-index: 2;
    top: 5px;
    right: 5px;
    width: 25px;
    border-radius: 50%;
    font-size: 36px;
    line-height: 25px;
    text-align: center;
}

.modal__closetwo {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal__check:checked+.modal {
    opacity: 1;
    right: 0;
}

.modal__close:hover {
    opacity: 0.7;
}

.modal__info::-webkit-scrollbar {
    display: none;
}