/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
#turnOff,
#turnOn {
    position: fixed;
    z-index: 999;
    // font-size: 2em;
    cursor: pointer;
    top: 20px;
}

#turnOff {
    left: 20px;
}

#turnOn {
    left: 240px;
}

//----------------------------
$up: #e9e6e8;
$down: #f2f2f2;
$blush: #e32738;
//----------------------
section {
    height: 100%;
    background-color: $down;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center
}

p {
    font-family: "ProximaNovaLight";
    font-size: 16px;
    color: black
}

slide {
    height: 100%;
    background-color: $down;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.head {
    text-align: center;
    background: $up;
    padding-top: 20px;
    p {
        color: #b7b7b7;
        font-family: "ProximaNovaReg";
        font-size: 12px;
    }
}

.main {
    background: url('../img/Pics/Monitors/m1.png') no-repeat 20% 80%, url('../img/bgs/bg1.jpg') no-repeat center center;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 120px;
    P {
        margin-bottom: 40px;
        padding: 8px 22px 7px 22px;
        color: white;
        background-color: black;
        font-family: "ProximaNovaReg";
        font-size: 10px;
        display: inline-block;
    }
    font-family: "ProximaNovaReg";
    font-size: 18px;
    font-weight: bold;
}

h1 {
    color: black;
    font-family: "UbuntuLight";
    font-size: 50px;
    letter-spacing: 0.08em;
    line-height: 59px;
}

h2 {
    font-family: "ProximaNovaLight";
    font-size: 24px;
}

span {
    font-family: "ProximaNovaReg";
    font-size: 30px;
}

strong {
    font-family: 'ProximaNovaBold';
}

.mon {
    margin-top: 20px;
}

.monitor {
    position: absolute;
    left: 200px;
    z-index: 1;
}

.panel {
    display: inline-block;
    margin-top: 40px;
}

.transparent-cell {
    display: inline-block;
    border: 2px solid black;
    color: black;
    height: 50px;
    vertical-align: middle;
}

.black-cell {
    display: inline-block;
    background: black;
    color: white;
    height: 50px;
    vertical-align: middle;
    padding: 14px 40px 16px 40px;
}

.left {
    font-family: "ProximaNovaLight";
    font-size: 18px;
    padding: 14px 28px 16px 28px;
}

.right {
    font-family: "ProximaNovaLight";
    font-size: 15px;
    padding: 17px 28px 16px 28px;
    margin-right: 15px;
    margin-left: -6px;
}

.december {
    padding: 20px 28px 16px 28px;
    margin-left: 10px;
    p {
        font-family: "ProximaNovaReg";
        font-size: 12px;
    }
}

button {
    background-color: $blush;
    height: 50px;
    color: white;
    outline: none;
    border: none;
    font-family: "ProximaNovaReg";
    font-size: 14px;
    padding: 9px 28px 7px;
    display: inline-block;
    vertical-align: middle
}

.mouse {
    margin-top: 228px;
}

.specification {
    text-align: left;
    display: flex;
    align-items: center;
    height: 100%;
}

.arrow {
    float: left;
    margin-right: 10px;
}

.specification {
    background: url('../img/bgs/bg2.jpg') no-repeat center center;
}

.mhl {
    background: url('../img/Pics/Monitors/m2_1.png') no-repeat center right;
}

.features {
    padding-top: 80px;
}

.description {
    margin-top: 40px;
    margin-bottom: 58px;
    vertical-align: 0.2;
    line-height: 24px;
}

.caracters {
    p {
        font-family: "ProximaNovaReg";
        font-size: 12px;
    }
}

.center {
    display: flex;
    align-items: center;
    height: 100%;
}

table {
    font-family: "ProximaNovaReg";
    font-size: 16px;
    background-color: #eeeeee;
    width: 100%;
}

tr {
    border-bottom: 4px solid $up;
    height: 38px;
}

td {
    padding-left: 40px
}

.bgup {
    background-color: $up;
    height: 100%;
}

.ofer {
    text-align: center;
}

.pos {
    float: right;
    margin-top: 56px;
}

.subHeader {
    position: fixed;
    top: 60px;
    p {
        font-family: "ProximaNovaReg";
        font-size: 12px;
    }
}

h3 {
    color: $blush;
    font-family: "ProximaNovaReg";
    font-size: 20px;
    margin: 20px 0px;
}

.contacts {
    h2 {
        font-family: "ProximaNovaReg";
        font-size: 24px;
    }
    h2 {
        font-family: "ProximaNovaReg";
        font-size: 24px;
    }
    p {
        font-family: "ProximaNovaLight";
        font-size: 18px;
    }
    .schedule {
        margin: 30px 0px 66px;
        font-family: "ProximaNovaReg";
        p {
            font-size: 14px;
            color: white;
        }
        .smallBlack-cell {
            padding: 19px 40px 16px 40px;
        }
    }
}

.circle {
    border-radius: 50px;
}

.form {
    padding-top: 34px;
    margin-bottom: 56px;
}

input {
    border: 2px solid $blush;
    height: 50px;
    background: $up;
    border-radius: 50px;
    padding-left: 32px;
    margin-right: 10px;
}

.map {
    height: 550px;
    background-color: rgb(93, 187, 241);
}

.slide-hand {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 2;
}

.section-venki {
    display: flex;
    align-items: center;
}

.venki__action {
    margin-top: 70px;
    text-align: center;
}